body{
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    font-size: 12px;
    background-color: #E6E6DA;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
div{
    display:block;
}
.left {
    float: left;
    display: block;
}
.right {
    float: right;
    display: block;
}

#e-bar {
    color: white;
    background: #333 url('images/headerbg.png') 50% 50% repeat-x;
    position: fixed;
    width: 100%;
    top:0%;
    right:0%;
    z-index: 10;
    overflow: hidden;
    box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -webkit-box-shadow: rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -moz-box-shadow: rgba(31, 31, 31, 0.816406) 0px;
}
#top-bar{
    margin: auto;
    width: 800px;
    color: #333;
}

#top-bar a:hover{
    text-decoration: underline;

}
#top-bar .logo {
    width: 135px;
    padding-left: 35px;
}
#top-bar .element {
    line-height: 47px;
    padding: 0 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

.littleBox{
    margin: 2px;
    position: relative;
    padding: 4px 0;
    float: left;
}

#videoPrincipal{
    display:block;
    width: 100%;
    height: 100%;
}

.imagenes{
    width:100%;
    height:100%;
    border: none;
}

#toolboxContainer{
    position: fixed;
    height: 200px;
    left:0%;
    top: 20%;
    z-index:99;
}
#toolbox{

}

#footer{
    position: fixed;
    bottom:0%;
    width: 100%;
}
#ShowHideControles{
    z-index:99;
    overflow: hidden;
}
#controlesContainer{
    width:100%;	
    min-height: 55px;
    z-index:99;
}

#sliderContainer{
    width:93%;    
    position: absolute;
    right: 1%;
}
#slider{	
    margin: 5px auto;
}
#controles{
    float: left;
    width: 5%;
    padding:10px 0px 0px 5px;
}
#controlTiempo{
    color: white;
    margin: 5px auto;
    text-align: right;
}

.elementButtons{
    float: right;
    display: block;
    position: relative;
    top: 0%;
    right:0%;    
    z-index: 9;
}

.draggable{
    cursor:move;
}

.dragHandle{
    cursor:move;
    font-size: 1.5em;
    float: left;
    display: block;
    position: relative;
    top: 0%;
    left:0%;    
    z-index: 9;
    margin: 0;
    padding: 0;
}

.textoAgregado{
    width:auto; 
    height:auto; 
    display:block;
    float:left;
    padding: 3px;
    text-wrap: normal;
}

.imagenAgregada{
    width: auto;
    height: auto;
    display:block;
    float:left;
    padding: 3px;
    text-wrap: normal;
}

.videoAgregado{
    width:560px;
    height:315px;
    display:block;
    float:left;
    position:relative;
}

.paginaAgregada{
    width:960px;
    height:400px;
    background: #00C;
    border:4px solid #000;
    float:left;
    position:relative;
}

.colorButton{
    width:160px;
    height:30px;
    background:#ffffff;
    border:1px solid black;
    line-height:30px;
    text-align:center;
    overflow: visible;
}

#colorSelector{
    height: auto;
    text-align:center;
}

.textoLink div{
    text-align:center;
    font-size: 24px;
    margin: 15px;
}
.textoLink{

}
.textoLink:hover{
    text-decoration: underline;

}

.videoPopcorn object{
    width: 100%;
    height: 100%;
}


.error,
.notice,
.success,
.info { padding: 0.8em; margin-bottom: 1em; }

.error {color: #8a1f11;  }
.success       { color: #264409; }

#editorContainment{
    width: 100%;
    display: block;
    position: fixed;
    top: 50px;
    bottom: 0%;
}