

.SocialMediaContainer{
    left: 0;    
    position: fixed;
    top: 20%;
    width: 64px;
    text-align: center;    
    margin-bottom: 25px;
    background: white;
    z-index: 9000;
    border: 1px solid rgba(0, 0, 0, .2);
    min-height: 50px;
    line-height: 1.4;
    padding: 10px;

    background-color: #F9FBF4;
}

.SocialMediaContainer .twitter{
    min-height: 66px;
}

.SocialMediaContainer .facebook{
    min-height: 100px;
    margin: 10px 0;
    border-top: 1px dotted #CCC;
    border-bottom: 1px dotted #CCC;
    padding: 10px 0;
}

.SocialMediaContainer .gplus{
    min-height: 60px;
}

.SocialMediaContainer .linkedin{
    min-height: 77px;
    margin-top: 10px;
    border-top: 1px dotted #CCC;
    padding-top: 10px;
    margin-left: -3px;
}

.SocialMediaContainer .stumbleupon{
    min-height: 77px;
    margin-top: 10px;
    border-top: 1px dotted #CCC;
    padding-top: 10px;
    margin-left: -3px;
}
