#top-bar .logo{
    padding-right: 40px;
}

#flechitaClases{
    display: none; 
    background-image: url(../imagenes/flechita.png);
    background-repeat: no-repeat;
    background-size: auto;
    height: 11px;
    position: relative;
    top: 4px;
    width: 20px;
    left:90px;
    z-index: 101;
}

#clases_menu {  
    display: none; 
    max-height: 500px;
    text-align: left; 
    position: relative; 
    right:55px;  
    top:1px;
    background-color:white; 
    color: black; 
    min-width:300px; 
    z-index: 100; 
    border: solid #333; 
    -webkit-border-radius: 7px;
    /* Sombra   */
    -webkit-box-shadow:rgba(31, 31, 31, 0.816406) 0px 0px 15px 3px;
    -moz-box-shadow:rgba(31, 31, 31, 0.816406) 0px;
    max-height: 600px;
    overflow-style: move;
    overflow-y:  auto;

}
#clases_menu a:hover{text-decoration: none;}

.clasesMenuHeader{
    background: #233E6A url('images/headerbg.png') repeat-x; 
    padding: 10px 5px 10px 5px;    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #ffffff;
}
.clasesMenuElement{    
    background-color: white;
    overflow: hidden;
    padding: 5px 5px 5px 5px;    
    -webkit-border-radius: 7px;
}
.clasesMenuElementActual{
    background-color: rgb(190,199,97);   
}
.clasesMenuElement:hover{    
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    background-color: #006187;
    color:white;
}
.clasesMenuElement:hover h6{
    color:white;
}
.clasesMenuElement img{
    float:left;
    margin: 0px 10px 0px 0px;
}
.clasesMenuVerMas{
    text-align: right;
    padding: 0px 10px 5px 0px;
}

